* {
  background-color: aqua;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200px;
}